@page "/products"
@inject IProductService ProductService
@attribute [StreamRendering(true)]


<h3>Products</h3>

@if (products == null)
{
    <span>Loading...</span>
}
else if (products.Count == 0)
{
    <span>No Products found.</span>
}
else
{
    <ul>
        @foreach (var product in products)
        {
            <li>@product.Name <EditProductButton Id="product.Id" /></li>
        }
    </ul>
}

<CreateProductButton />

@code {
    List<Product>? products = null;

    protected override async Task OnInitializedAsync()
    {
        products = await ProductService.GetAllProductsAsync();
    }
}
